
@{
    ViewData["Title"] = "Thêm mới sản phẩm";
}

<div class="content_top col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="heading">
        <h3>@ViewData["TitleContent"]</h3>
    </div>
    <div class="clear"></div>
</div>
<div class="content_middle col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-md-8">
            <section>
              dsadsada
            </section>
        </div>
        <div class="col-md-4">
            <section>
               dsadsa
            </section>
        </div>
    </div>
</div>

