<div class="col-sm-12 col-sm-12 col-md-3 col-lg-3 no-padding">
    <div class="categories">
        <h3>Hãng sản xuất</h3>
        <ul>
            <li><a href="#">Asus</a></li>
            <li><a href="#">Samsung</a></li>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Xiaomi</a></li>
            <li><a href="#">Oppo</a></li>
            <li><a href="#">Vivo</a></li>
            <li><a href="#">Nokia</a></li>
            <li><a href="#">Dell</a></li>
            <li><a href="#">HP</a></li>
            <li><a href="#">Sony</a></li>
            <li><a href="#">Acer</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>
</div>