<div class="footer">
    <div class="col_1_of_4 span_1_of_4 col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>Thông tin</h4>
        <ul>
            <li><a href="about.html">Tiểu sử</a></li>
            <li><a href="contact.html">Dịch vụ khách hàng</a></li>      
            <li><a href="delivery.html">Chính sạch đặt hàng</a></li>
            <li><a href="contact.html">Thông tin liên hệ</a></li>
        </ul>
    </div>
    <div class="col_1_of_4 span_1_of_4 col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>Tại sao chọn chúng tôi</h4>
        <ul>
            <li><a href="about.html">Sản phẩm đảm bảo uy tín</a></li>
            <li><a href="contact.html">Giá cá bình ổn thị trường</a></li>
            <li><a href="#">Nhiều ưu đãi cho khách hàng</a></li>
        </ul>
    </div>
    <div class="col_1_of_4 span_1_of_4 col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>Bản quyền</h4>
        <ul>
            <li><a>Runan Corporation</a></li>
            <li><a>All rights Reseverd</a></li>
            <li><a>Thiết kế by Ngô Hoài Trọng</a></li>
        </ul>
    </div>
    <div class="col_1_of_4 span_1_of_4 col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h4>Thông tin liên hệ</h4>
        <ul>
            <li><span>+08-545-487145</span></li>
            <li><span>+08-545-487145</span></li>
        </ul>
        <div class="social-icons">
            <h4>Theo dõi chúng tôi tại</h4>
            <ul>
                <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
                <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
                <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
                <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>