@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BestApplication</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/AdminLTE.css">
        <link rel="stylesheet" href="~/css/slider.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/AdminLTE.css">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @await Html.PartialAsync("_Header")
    <div class="body-content">
        <div class="row">        
                @await Html.PartialAsync("_Aside")
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
                @RenderBody()
            </div>
        </div>
        @await Html.PartialAsync("_Footer")
    </div>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
        function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function () {
                var obj = this;

                obj.dd.on('click', function (event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }

        $(function () {

            var dd = new DropDown($('#dd'));

            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-2').removeClass('active');
            });

        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
