.back-button {
    color: palevioletred;
    border: none;
    background-color: initial;
    margin-right: 10px;
    /* line-height: 0px; */
    padding-left: 0px;
}
.no-background-color {
    background-color: Transparent!important;
}
